<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<chapter id="postlfs-config" xreflabel="Etter LFS Konfigurasjonsproblemer">
  <?dbhtml filename="config.html"?>

  <title>Etter LFS Konfigurasjonsproblemer</title>

  <para>
    Intensjonen til LFS er å tilby et grunnleggende system som du kan
    bygge på. Det er flere ting ved å rydde opp i systemet som
    mange lurer på når de har gjort grunninstallasjonen.
    Vi håper å dekke disse problemene i dette kapittelet.
  </para>

  <para>
    De fleste som kommer fra ikke-Unix lignende bakgrunner til Linux synes
    konseptet med konfigurasjonsfiler med kun tekst er litt merkelig. I Linux, nesten
    all konfigurasjon gjøres via manipulering av tekstfiler.
    Flertallet av disse filene finnes i <filename
    class='directory'>/etc</filename> hierarkiet. Det er ofte grafiske
    konfigurasjonsprogrammer tilgjengelig for forskjellige undersystemer, men de fleste
    er ganske enkelt pene grensesnitt for prosessen med å redigere en tekstfil.
    Fordelen med kun tekstkonfigurasjon er at du kan redigere parametere ved hjelp av
    din favoritt tekstredigerer, enten det er <command>vim</command>,
    <command>emacs</command>, eller en annen tekstredigerer.
  </para>

  <para>
    Den første oppgaven er å lage en oppstartsenhet for gjenoppretting <xref
    linkend="postlfs-config-bootdisk"/> fordi det er det mest kritiske behovet.
    Maskinvareproblemer som er relevante for fastvare og andre enheter tas opp neste gang.
    Systemet er da konfigurert for å lett legge til nye brukere, fordi dette
     kan påvirke valgene du gjør i de to påfølgende
     emner&mdash;<xref linkend="postlfs-config-profile"/> og
    <xref linkend="postlfs-config-vimrc"/>.
  </para>

  <para revision="sysv">
    De resterende temaene, <xref linkend="postlfs-config-logon"/> og
    <xref linkend="postlfs-config-random"/> blir deretter adressert, i den rekkefølgen.
    De har ikke mye interaksjon med de andre temaene i dette kapittelet.
  </para>

  <para revision="systemd">
    Det er ett tema igjen: <xref linkend="postlfs-config-logon"/>.
    Den har ikke mye interaksjon med de andre emnene i dette kapittelet.
  </para>
<!-- autofs has been moved to sysutils -->

  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="bootdisk.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="console-fonts.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="firmware.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="devices.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="skel.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="users.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="vimrc.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="logon.xml"/>

  <!-- sysv only -->
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="random.xml"/>
</chapter>
